
.container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0rem // Space between boxes and arrows
}

.box {
  width: 132px;
  text-align: center;
  height: 132px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  color: white;
  border: 3px solid grey;
  background-color: #808080c2;
  transition: all 0.5s ease-in-out;
}

.running {
  background-color: #ffc107c9;
  border-color: #ffc107;
  color: #fff;
}

.completed {
  background-color: #28a745d9;
  border-color: #28a745;
}

.arrow {
  font-size: 72px;
  color: black;
  margin-bottom: 42px !important;
}
.box{
  position: relative;
  flex-direction: column;
}
.box-text{
  // position: absolute;
  //   bottom: -42px;
    color: #000;
}

.start-button{
  padding: 0.5rem 7.5rem !important;
}
.box{
  &:last-child{
    height: 104px;
    width: 104px;
    img{
      height: 64px;
    }
  }
}

.box-text{
  width: 132px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px !important;
}

.box{
  &:last-child{
    width: 104px !important;
    height: 104px !important;
    img{
      height: 60px;
    }
  }
}
.box-container{
  div{
    &:last-child{
      .box{
        width: 104px !important;
        height: 104px !important;
        img{
          height: 60px;
        }
      }
    }
  }
}