
 <div class="container-fluid mt-4">
    <div class="box-container">
        <ng-container *ngFor="let box of boxes; let i = index" >
              <div>
                <div class="box" (click) = "selectBox($event,i,box)"
              [ngClass]="{'running': currentIndex === i, 'completed': i < currentIndex}" >
              <!-- <button type = "button" (click) = "selectBox(i,box)"></button> -->
               <img src="{{box.imageUrl}}" height="84">
             
            </div>
            <span class="box-text" >{{ box.text }}</span>
              </div>
            <!-- Arrow Between Boxes -->
            <span *ngIf="i < boxes.length - 1" class="arrow">
              <!-- ⇢ -->
               <img src="../../../../assets/img/arrow.svg" width="70" height="24">
            </span>
          </ng-container>
      
    </div>
  </div>
  <div class="text-center mt-5 mr-4 pt-5">
    <button (click)="startProcess()" class="btn btn-success start-button" *ngIf="startFlag">Start</button>
    <button routerLink="/unprocessed-data" class="btn btn-success start-button" *ngIf="viewFlag">View Reports</button>
</div>